<% content_for :page_title do %>
  <%= Spree.t(:stock_requests) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon 'arrow-left', Spree.t(:back_to_resource_list, resource: Spree.t(:report)), spree.admin_reports_url, class: 'btn btn-default' %>
<% end %>

<%= render partial: 'spree/admin/shared/stock_report_criteria', :locals => {} %>

<table class="table" data-hook="stock_requests">
  <thead>
    <tr>
      <th>
        <%= sort_link @search, :email %>
      </th>
      <th>
        <%= Spree.t(:product) %>
      </th>
      <th>
        <%= Spree.t(:variant) %>
      </th>
      <th>
        <%= Spree.t(:sku) %>
      </th>
      <th>
        <%= sort_link @search, :state %>
      </th>
      <th>
        <%= sort_link @search, :created_at %>
      </th>
      <th>
        <%= sort_link @search, :sent_at %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @stock_requests.each do |stock_request| %>
      <% next if stock_request.product.nil? %>
      <tr class="cycle('even', 'odd')">
        <td>
          <%= stock_request.email %>
        </td>
        <td>
          <%= link_to stock_request.product.name, edit_admin_product_path(stock_request.product) %>
        </td>
        <td>
          <%= stock_request.variant.options_text if stock_request.variant %>
        </td>
        <td>
          <%= stock_request.variant.sku if stock_request.variant %><br/>
        </td>
        <td>
          <%= stock_request.state.titleize %>
        </td>
        <td>
          <%= time_ago_in_words(stock_request.created_at) %>
          <%= Spree.t(:ago) %>
        </td>
        <td>
          <%= stock_request.sent_at.strftime("%Y/%m/%d %T") unless stock_request.sent_at.blank? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
